.tasks {

}

.capitalize {
	text-transform: capitalize;
}

.task {
	position: relative;
}

.right-top {
	position: absolute;
	right: 15px;
	top: 12px;
}

.right-middle {
	position: absolute;
	right: 15px;
	top: 40%;
}

.right-bottom {
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.enum {
	position: absolute;
	left: 5px;
	top: 12px;
}

.status {
	position: absolute;
	left: 10px;
	bottom: 15px;
}

h6 {
	padding-left: 20px;
}