<!-- logged out menu -->
<ion-menu side="left" [content]="content">

  <ion-header>
    <ion-toolbar no-border>
      <ion-item no-lines *ngIf="auth.user">
        <ion-avatar item-left>
          <img src="{{ auth.user.picture }}">
        </ion-avatar>
        {{ auth.user.name }}<br>
        {{ auth.user.email }}
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">

    <ion-list>
      <ion-list-header>
        Delivery
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <button ion-item menuClose no-lines (click)="auth.logout()">
      <ion-icon item-left [name]="'log-out'"></ion-icon>
      Logout
    </button>

  </ion-content>

</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content></ion-nav>