<ion-header>
  <ion-navbar>
    <ion-title>User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="auth.authenticated()">  
  
  <ion-card>

    <ion-item *ngIf="auth.user">
      <ion-avatar item-left>
        <img src="{{ auth.user.picture }}">
      </ion-avatar>
      <h2>{{ auth.user.name }}</h2>
      <p>{{ auth.user.email }}</p>
    </ion-item>
    <ion-item>
      <p>ID: {{auth.user._id}}</p>
      <p>Role: {{auth.user.role}}</p>
      <p>Last login: {{auth.user.lastLogin | date:"fullDate"}}</p>
    </ion-item>
  
  </ion-card>

  <button ion-button block color="light" (click)="auth.logout()">
    Sign out
  </button>
    
</ion-content>