<ion-header>
  <ion-navbar>
    <ion-title>Task {{alphabet[taskIndex]}}</ion-title>
    <ion-buttons start>
      <button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
	  <ion-item *ngIf="currentTask.activity === 'pickup'">
	    <ion-icon name="car" item-left large></ion-icon>
	    <h3>Drive to <b>{{currentTask.orders[0].store.name}}</b></h3>
	    <p>{{currentTask.address?.address1}}, {{currentTask.address?.address2}}</p>
	    <p>{{currentTask.address?.city}}, {{currentTask.address?.postal}}</p>
	  </ion-item>
	  <ion-item *ngIf="currentTask.activity === 'delivery'">
	    <ion-icon name="person" item-left large></ion-icon>
	    <h3>Drive to <b>{{currentTask.orders[0].customerName}}</b></h3>
	    <p>{{currentTask.address?.address1}}, {{currentTask.address?.address2}}</p>
	    <p>{{currentTask.address?.city}}, {{currentTask.address?.postal}}</p>
	  </ion-item>
	  <ion-item>
	    {{getMinutes(currentTask.timeFromPrevious)}} min
	    <p item-right>
	    	Arrive by: {{currentTask.arrivalTime | date:"shortTime"}}<br>
	    	Depart by: {{currentTask.departureTime | date:"shortTime"}}
	    </p>
	  </ion-item>
    <ion-toolbar>
		  <ion-row>
		    <ion-col width-50>
		    	<button secondary small block *ngIf="taskStatus==='incomplete'" (click)="waypointStatus('active')">Start</button>
		    	<button secondary small block *ngIf="taskStatus!=='incomplete'" disabled>Started</button>
				</ion-col>
		    <ion-col width-50>
		    	<a button small block href={{getGoogleMapsURL()}} target="_blank">Navigation</a>
				</ion-col>
		  </ion-row>
		</ion-toolbar>
	</ion-card>
	<ion-card class="capitalize">
	  <ion-item *ngIf="currentTask.activity === 'pickup'">
	    <ion-icon name="basket" item-left large></ion-icon>
	    <h3>Pickup packages</h3>
	    <p *ngFor="let order of currentTask.orders">
	    	Order #<b>{{order.orderID}}</b> for {{order.customerName}}
	    </p>
	  </ion-item>
	  <ion-item *ngIf="currentTask.activity === 'delivery'">
	    <ion-icon name="basket" item-left large></ion-icon>
	    <h3>Delivery</h3>
	    <p *ngFor="let order of currentTask.orders">
	    	Order #<b>{{order.orderID}}</b> for {{order.customerName}}
	    </p>
	  </ion-item>
    <ion-toolbar *ngIf="taskStatus!=='imcomplete'">
	  	<button secondary small block *ngIf="taskStatus==='active'" (click)="waypointStatus('complete')">Complete!</button>
	  	<button secondary small block *ngIf="taskStatus==='complete'" disabled>Completed</button>
		</ion-toolbar>
	</ion-card>
</ion-content>
