<ion-header>
  <ion-navbar>
    <ion-title class="capitalize">Task {{alphabet[taskIndex]}} - {{currentTask.activity}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
	  <ion-item *ngIf="currentTask.activity === 'pickup'">
	    <ion-icon name="car" item-left large></ion-icon>
	    <h3>Drive to <b>{{currentTask.orders[0].store.name}}</b></h3>
	    <p>{{currentTask.address?.address1}}, {{currentTask.address?.address2}}</p>
	    <p>{{currentTask.address?.city}}, {{currentTask.address?.postal}}</p>
	  </ion-item>
	  <ion-item *ngIf="currentTask.activity === 'delivery'">
	    <ion-icon name="person" item-left large></ion-icon>
	    <h3>Drive to <b>{{currentTask.orders[0].customerName}}</b></h3>
	    <p>{{currentTask.address?.address1}}, {{currentTask.address?.address2}}</p>
	    <p>{{currentTask.address?.city}}, {{currentTask.address?.postal}}</p>
	  </ion-item>
	  <ion-item>
	    {{getMinutes(currentTask.timeFromPrevious)}} min
	    <p item-right>
	    	Arrive by: {{currentTask.arrivalTime | date:"shortTime"}}<br>
	    	Depart by: {{currentTask.departureTime | date:"shortTime"}}
	    </p>
	  </ion-item>
    <ion-toolbar>
		  <ion-row>
		    <ion-col width-50>
		    	<button ion-button color="secondary" small block *ngIf="taskStatus==='incomplete'" (click)="startTask()">Start</button>
		    	<button ion-button color="secondary" small block *ngIf="taskStatus!=='incomplete'" disabled>Started</button>
				</ion-col>
		    <ion-col width-50>
		    	<a button ion-button small block href={{getGoogleMapsURL()}}>Navigation</a>
				</ion-col>
		  </ion-row>
		</ion-toolbar>
	</ion-card>
	<ion-card class="capitalize">
		<div *ngIf="currentTask.activity === 'pickup'">
	  	<ion-item *ngFor="let order of currentTask.orders">
			<button ion-button icon-only item-right (click)="contactModal()"><ion-icon name="call" large></ion-icon></button>
		    <h3>Pickup package</h3>
		    <p>
		    	Order #<b>{{order.orderID}}</b> for {{order.customerName}}
		    </p>
  		</ion-item>
		</div>
		<div *ngFor="let order of currentTask.orders">
	  	<ion-item *ngIf="currentTask.activity === 'delivery'">
			<button ion-button icon-only item-right (click)="contactModal()"><ion-icon name="call" large></ion-icon></button>
		    <h3>Deliver package</h3>
		    <p>
		    	Order #<b>{{order.orderID}}</b> for {{order.customerName}}
		    </p>
	  	</ion-item>
  	</div>
  	<ion-toolbar *ngIf="taskStatus!=='incomplete'">
	  	<button ion-button color="secondary" small block *ngIf="taskStatus==='active'" (click)="completeTask()">Complete</button>
	  	<button ion-button color="secondary" small block *ngIf="taskStatus==='complete'" disabled>Completed</button>
		</ion-toolbar>
	</ion-card>
</ion-content>
